html {
    font-family: 'Gill Sans', sans-serif;
}

#board {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 40px;
}

#board div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;

}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: thin solid grey;
  font-size: 25px;
  font-variant: small-caps;
}

.in-position {
  background: greenyellow;
}

.in-word {
  background: yellow;
}

.not-in-word {
  background: #666;
}

#keyboard {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}

#keyboard div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 8px;

}
.letter, .enter, .del {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: thin solid grey;
}

.letter {
  width: 30px;
  font-size: 25px;
}

.enter, .del {
  width: 44px;
  font-size: 16px;
}

#not-a-word { 
  text-align: center;
  margin-top: 12px;
}